Twisted==13.1.0
beautifulsoup4==4.3.2
decorator==3.4.0
giphypop==0.2
helga==1.6.4
pyOpenSSL==0.15.1
pymongo==2.5.2
pystache==0.5.4
pytest
pytz
requests==2.2.1
smokesignal==0.5
tweepy==2.1
wsgiref==0.1.2
zope.interface==4.1.2
